.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
}

.u-section-1 .u-text-2 {
  width: 600px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 60px;
}

.u-section-1 .u-text-3 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  margin-top: 30px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 20px 20px;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.75s;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  transition-duration: 0.75s;
  padding: 20px;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.75s;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  transition-duration: 0.75s;
  padding: 20px;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.75s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  transition-duration: 0.75s;
  padding: 20px;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 0.75s;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  transition-duration: 0.75s;
  padding: 20px;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 0.75s;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  transition-duration: 0.75s;
  padding: 20px;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 0.75s;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  transition-duration: 0.75s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 552px;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1140px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 600px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 495px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-3 .u-icon-4 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-3 .u-icon-5 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-3 .u-icon-6 {
    color: rgb(219, 84, 90) !important;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 853px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 63px;
  min-height: 478px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/nathy.png");
  background-position: 50% 50%;
  margin: 0 450px;
}

.u-section-4 .u-text-1 {
  width: 747px;
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 5px 0 0;
}

.u-section-4 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/Jorge.jpg");
  background-position: 50% 50%;
  margin: 0 450px;
}

.u-section-4 .u-text-4 {
  width: 747px;
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  width: 237px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 5px 0 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  top: 224px;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 350px;
    margin-right: 350px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 350px;
    margin-right: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 240px;
    margin-right: 240px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 273px;
    margin-top: 31px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 240px;
    margin-right: 240px;
  }

  .u-section-4 .u-text-4 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 170px;
    margin-right: 170px;
  }

  .u-section-4 .u-text-4 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-slider-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-4 .u-text-4 {
    width: 320px;
  }
}